// @font-face{
//     font-family: 'Lato';
//     src: url('../assets/fonts/lato.woff2') format('woff2');
//     }
   
  *{
    // font-family: 'Lato', sans-serif;
    // font-weight: 600;
  }

  .img-ring {
    border-radius: 100%;
    border: map-get($colors, bright) 1.5px solid;
    padding: 1% 1% 1% 1%;
    // opacity: 0.75;
    // filter: alpha(opacity=75);
}

  #notification-badge {
    position: absolute;
    top:-6px;
    right:-5px;
    // border: 1.5px solid white;
    border-radius: 100%;
    color:white;
    overflow: visible!important;
    background-color:map-get($colors, danger);
    padding:2px 2px 2px 2px;
    height: 22px;
    text-align: center;
    vertical-align: middle;
    width: 22px;
    font-size: 1em;
  }

  #decorator-badge {
    position: absolute;
    bottom:-6px;
    right:-6px;
    border: 1.5px solid white;
    font-weight: 800;
    border-radius: 100%;
    color:white;
    overflow: visible!important;
    background-color:map-get($colors, bright);
    padding:3px 3px 3px 3px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    width: 25px;
    font-size: 0.9em;
  }

  .bottom-band{
    position: absolute;
    height: auto;
    width: 100%;
    bottom: 0%;
    right: 0%;
    margin:0% 0%;
    background-color: white;
    color:grey;
    text-transform:capitalize;
    font-size: 0.7em;
    // text-align: center;
    vertical-align: middle;
    // border-bottom-left-radius: 6%;
    // border-bottom-right-radius: 6%;
  }

  .top-band{
    position: absolute;
    height: auto;
    width: 100%;
    top: 0%;
    right: 0%;
    margin:0% 0%;
    background-color: dodgerblue;
    color:white;
    text-transform:capitalize;
    font-size: 1.0em;
    text-align: center;
    vertical-align: middle;
    border-bottom-left-radius: 6%;
    border-bottom-right-radius: 6%;
  }

  .colored-band{
    background-color: map-get($colors, deepblue);
    opacity: 0.65;
       filter: alpha(opacity=65);
  }

  #footer{
    text-align: center;
  }

 
  #edgeless{
      margin:0% 0%;
      padding:0%;
      border: none;
  }

  #borderless-card{
    width: 100%;    
    margin:0% 0%;
    padding:0%;
    border:none
}

  #headline{
      font-family: 'Cookie', cursive;
      font-size: 1.7em;
      font-weight: bolder;
  }
  
  #img-wrap {
      position: relative;
      overflow: hidden;
      border: 1.5px;
      border-color: white;
      height: auto;
      width: 100%;
      display: block;
    }

    .image{
      position: relative;
      overflow: hidden;
      height: 120px;
      width: 100%;
      display: block;
    }
  
  .title.title-md{
    font-weight: 700;
    position:absolute;
    left:50%;
    top:0;
    font-family: 'Lato', cursive;
    transform: translateX(-50%);
    height: 100%;
    width:70%;
    text-align: center;
  }
  
  #header{
    margin: 0px;
    padding: 3%;
    background-color: map-get($colors, dark);
    color: white;
    font-size: 12pt;
    text-align: center;
  }
  
  #thumb{
    border-radius: 5%;
    margin:2px;
    padding: 0px;
  }
  
  
  #sticker{
    background-color: white;
      padding:5px;
      margin:0.3px;
      text-align: center;
      text-overflow: ellipsis;
      overflow: hidden;
  }
  
  #sticker > h1{
    font-size: 14pt;
    color: map-get($colors, dark);
    font-weight: normal;
  }
  
  
  #dark{
    background-color: map-get($colors, dark);
  }


.stats {
  max-height: 30%;
  height: 30%;
  font-weight: 200;
  color:black;
  background-color: white;
  text-align: center;
  padding: 1% 1% 1% 1%;
}
  
  #badge {
    color: black;
    position: absolute;
    bottom: 0%;
    padding:5px;
    // margin:0px 1% 1% 0px;
    left: 0px;
    width:100% !important;
    font-size: 8pt;
    vertical-align: auto;
    text-overflow: ellipsis;
    background-color: map-get($colors, white);
    overflow: hidden;
    opacity: 0.65;
    filter: alpha(opacity=65);
  }
  
  #item{
    margin: 2px 1%;
    border-bottom: solid grey groove;
    box-shadow: 0px 4px 4px -4px rgba(0,0,0,0.2);
  }